.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right,rgb(19, 0, 31),rgb(168, 55, 55));

  font-family: sans-serif;
}

.dashboardpainel{
  position: absolute;
  top: 25vh;
  width: 80%;
  min-height: 600px;
  overflow-x: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemcard{
  position: relative;
  min-width: 400px;
  min-height: 500px;
  background: linear-gradient(to top,rgb(18, 44, 41),rgb(40, 1, 77));
  margin: 2vh;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.568);
}
.itemcard img{
  position: relative;
  top: -15vh;
  height: 300px;
}


